#Angka {
    font-size: 100px;
    font-weight: bold;
}

#Tulisan {
    font-size: 30px;
    font-weight: bold;
}

#gambar-konten {
    width : 100%;
    border : none;
    margin: 0 auto;
    
}

#pengumuman {
    background-color: aquamarine;
}
